body {
  top: 0;
}

a {
  color: initial;
  text-decoration: none;
}

section {
  min-height: 10px;
  padding: 4% 5%;
}

.title-sect {
  font-size: 2rem;
  text-decoration: underline;
  padding-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  .title-sect {
    text-align: center;
  }
}

section.index:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("img/bc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: white;
  min-height: 700px;
}
@media screen and (max-width: 800px) {
  section.index:nth-of-type(1) {
    background-position-x: 27%;
  }
}
section.index:nth-of-type(1) ul {
  padding: 2rem 0;
  max-width: 90%;
}
section.index:nth-of-type(1) p {
  max-width: 40%;
}
@media screen and (max-width: 1024px) {
  section.index:nth-of-type(1) p {
    max-width: 90%;
  }
}
section.index:nth-of-type(1) .btn-inscription {
  background-color: #757575;
  width: 5rem;
  color: white;
}

section.index:nth-of-type(2) {
  height: auto;
}
section.index:nth-of-type(2) ul {
  padding: 1rem 0;
}
section.index:nth-of-type(2) ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.index:nth-of-type(2) .div-conf {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  section.index:nth-of-type(2) .div-conf {
    width: 45%;
  }
}
section.index:nth-of-type(2) .div-conf:nth-of-type(1) {
  top: 75px;
  left: 15px;
  z-index: 1000;
}
section.index:nth-of-type(2) .div-conf:nth-of-type(2) {
  right: 15px;
  z-index: 5000;
}
section.index:nth-of-type(2) .div-conf:nth-of-type(2) .text-conf {
  margin-left: 30px;
}
section.index:nth-of-type(2) .text-conf {
  padding: 1rem 0.5rem;
}
section.index:nth-of-type(2) .text-conf :nth-child(1) {
  font-weight: bold;
}
section.index:nth-of-type(2) .text-conf :nth-last-child(1) {
  float: right;
  text-decoration: underline;
}

section.index:nth-of-type(3) {
  background-color: #232323;
}
section.index:nth-of-type(3) .card-sect-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.index:nth-of-type(3) .card-hackaton-1 {
  position: relative;
  left: 5%;
  height: auto;
  width: 40%;
  z-index: 5000;
}
@media screen and (max-width: 1024px) {
  section.index:nth-of-type(3) .card-hackaton-1 {
    left: 5%;
    width: 45%;
  }
}
section.index:nth-of-type(3) .card-hackaton-2 {
  position: relative;
  right: 5%;
  height: auto;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  section.index:nth-of-type(3) .card-hackaton-2 {
    width: 60%;
  }
}
section.index:nth-of-type(3) .card-hackaton-2 ul:nth-child(1) {
  padding: 2rem 0 2rem 0;
  line-height: 3rem;
}
@media screen and (max-width: 450px) {
  section.index:nth-of-type(3) .card-hackaton-2 ul:nth-child(1) {
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.5rem;
  }
}
section.index:nth-of-type(3) .card-hackaton-2 ul:nth-child(2) {
  padding: 2rem 2rem 2rem 0;
}
@media screen and (max-width: 450px) {
  section.index:nth-of-type(3) .card-hackaton-2 ul:nth-child(2) {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}
section.index:nth-of-type(3) .card-hackaton-2 ul {
  margin-left: auto;
  width: 66%;
}
section.index:nth-of-type(3) .card-hackaton-2 a {
  float: right;
  text-decoration: underline;
}

section.index:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
}
section.index:nth-of-type(4) p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}
@media screen and (max-width: 800px) {
  section.index:nth-of-type(4) p {
    width: 90%;
  }
}
section.index:nth-of-type(4) .newsletter {
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  section.index:nth-of-type(4) .newsletter {
    width: 90%;
  }
}
section.index:nth-of-type(4) .newsletter input, section.index:nth-of-type(4) .newsletter button {
  padding: 1rem 1rem;
  border: 1px solid #ebebeb;
}
section.index:nth-of-type(4) .newsletter input {
  width: 90%;
  color: #1a1a1a;
}
section.index:nth-of-type(4) .newsletter button {
  cursor: pointer;
  background-color: transparent;
}
section.index:nth-of-type(4) .newsletter button :nth-child(1) {
  opacity: 50%;
}
section.index:nth-of-type(4) .newsletter button:hover {
  background-color: #993E90;
}

* {
  font-size: 16px;
  list-style-type: none;
}

:root {
  --midle-prct: %50;
}

header {
  width: auto;
  background-color: #0E0034;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
nav {
  display: none;
  width: 15%;
}
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
  }
}

.open {
  z-index: 1000;
  width: 2rem;
}
.open .burger-open ul {
  height: 0.25rem;
  width: 100%;
  background-color: white;
}
.open .burger-open a :nth-child(1), .open .burger-open a :nth-child(2) {
  margin-bottom: 0.25em;
}

.link-page {
  display: inline-flex;
}

.close {
  width: 75%;
  min-height: 75vh;
  padding-bottom: 5vh;
  height: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  border-radius: 0 0 4em 0;
  border: 1px solid black;
  background-color: white;
}
.close .burger-close {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}
.close .burger-close a:nth-of-type(2) {
  padding: 1rem 0;
  margin-left: 6.5rem;
  width: 75%;
}
.close .burger-close img {
  width: 2rem;
  height: auto;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.close :last-child ul {
  border-bottom: none;
}
.close ul {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}
.close ul p {
  width: max-content;
  margin-left: 6.5rem;
}
.close ul .sub-title {
  display: none;
  padding: 1rem 0;
}

.logo-header {
  width: 8rem;
  height: 3rem;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .logo-header {
    justify-content: center;
    height: 1.5rem;
  }
}

.btn-inscription {
  display: flex;
  padding: 1rem 2rem;
  background-color: #A03636;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
}
.btn-inscription a {
  text-transform: uppercase;
  font-weight: bolder;
}
@media screen and (max-width: 450px) {
  .btn-inscription {
    padding: 0.5rem 1rem;
  }
}

.link-desc {
  display: flex;
  padding: 1rem 2rem;
  color: white;
}
@media screen and (max-width: 1024px) {
  .link-desc {
    display: none;
  }
}

footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
footer :nth-child(2) {
  margin: 0 1rem;
}

.div-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}
.div-inscription div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.div-inscription form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.div-inscription .title-inscription {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 32px;
}
.div-inscription .champ {
  width: 100%;
  border: 0;
  padding-left: 10px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border-radius: 0;
  border-bottom: solid black 1px;
  margin: 5% 0;
}
.div-inscription .btn-envoyer {
  width: 60%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border: solid black 1px;
  border-radius: 5px;
  margin-top: 20px;
}
.div-inscription .btn-envoyer:active {
  color: gray;
  border: solid gray 1px;
}

.success {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.success h2 {
  color: green;
  margin: 3%;
}
.success a {
  color: blue;
  font-size: large;
}
.success a:hover {
  text-decoration: underline;
}

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}
.about h2 {
  font-size: 32px;
  margin: 5%;
}
.about p {
  font-size: 24px;
  width: 60%;
  margin-bottom: 5%;
}

.black {
  background-color: #232323;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.section2 h2 {
  font-size: 32px;
  margin-bottom: 10%;
}
.section2 p {
  font-size: 24px;
  margin-bottom: 5%;
  width: 90%;
}
.section2 .text {
  width: 50%;
  margin: 5% 5% 5% 10%;
}
.section2 .image {
  width: 40%;
  margin: 5% 10% 5% 5%;
}
.section2 .image .left {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.section2 .image .right {
  float: right;
  width: 48%;
  margin-left: 2%;
}
.section2 .image .bottom {
  width: 100%;
  margin-top: 4%;
}

.equipe {
  background-color: #F8F8F8;
  text-align: center;
}
.equipe h2 {
  font-size: 32px;
  margin: 5% 0;
}
.equipe p {
  font-size: 24px;
}
.equipe .image {
  margin: 8% 0 5% 0;
  display: flex;
  flex-direction: row;
}
.equipe .image div {
  width: 15%;
  height: auto;
  margin: auto;
}
.equipe .image div p {
  margin: 5%;
  padding: 0;
  text-align: center;
}
.equipe img {
  width: 100%;
  border-radius: 50%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 2%;
  object-fit: cover;
}

.lastsection {
  flex-direction: column;
}
.lastsection h2 {
  font-size: 32px;
  margin: 5%;
}
.lastsection .image {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-bottom: 5%;
}
.lastsection img {
  margin: 2%;
  width: 25%;
}
.lastsection footer {
  background-color: #232323;
  color: white;
}

section.contact:nth-of-type(1) {
  display: inline-flex;
  background: linear-gradient(90deg, black 50%, #BD8EF2 50%);
  width: 90%;
}
@media screen and (max-width: 1024px) {
  section.contact:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
  }
}
section.contact:nth-of-type(1) h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1.5rem;
}
section.contact:nth-of-type(1) .left-contact {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  section.contact:nth-of-type(1) .left-contact {
    width: 100%;
  }
}
section.contact:nth-of-type(1) .left-contact form {
  display: flex;
  flex-direction: column;
}
section.contact:nth-of-type(1) .left-contact form .champ {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #707070;
  resize: none;
  color: #928888;
  padding: 0.75rem 0.5rem;
}
section.contact:nth-of-type(1) .left-contact .message {
  margin-top: 0;
  height: 5em;
}
section.contact:nth-of-type(1) .left-contact .submit {
  width: 40%;
  border-radius: 1rem;
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .left-contact .submit {
    width: 60%;
  }
}
section.contact:nth-of-type(1) .right-contact {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 5%;
}
@media screen and (max-width: 1024px) {
  section.contact:nth-of-type(1) .right-contact {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .right-contact {
    flex-direction: column;
  }
}
section.contact:nth-of-type(1) .right-contact .info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: auto;
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .right-contact .info-contact {
    width: 100%;
  }
}
section.contact:nth-of-type(1) .right-contact .info-contact .contact-sm a :nth-child(1) {
  width: 55px;
}
section.contact:nth-of-type(1) .right-contact .info-contact ul {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .right-contact .info-contact ul {
    padding: 0.5rem 0;
  }
}
section.contact:nth-of-type(1) .right-contact .info-contact ul span {
  font-size: 1.5em;
  padding: 0.5rem 1.5rem;
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .right-contact .info-contact ul span {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
section.contact:nth-of-type(1) .right-contact .info-contact ul li {
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .right-contact .info-contact ul li {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
section.contact:nth-of-type(1) .right-contact .map-contact {
  width: 50%;
}
@media screen and (max-width: 800px) {
  section.contact:nth-of-type(1) .right-contact .map-contact {
    width: 100%;
    height: auto;
  }
}
section.contact:nth-of-type(1) .right-contact .map-contact img {
  width: 100%;
  height: 100%;
}

section.contact:nth-of-type(2) .newsletter {
  padding-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
