@import  "../mixins/mixins";
body{
    top: 0;
}
a {
    color: initial;
    text-decoration: none;
}
section {
    min-height: 10px;
    padding: 4% 5%;    
}
.title-sect {
    font-size: 2rem;
    text-decoration: underline;
}

section.index:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/bc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: white;
    min-height: 700px;
    @include xs {
        background-position-x: +27%;
    }
  ul {
      padding: 2rem 0;
      width:300px ;
  }
  .btn-inscription{
      background-color: #757575;
      width: 5rem;
      color: white;
  }
}

section.index:nth-of-type(2){
    height: auto;
    ul {
        padding: 1rem 0;
    }
    ul:nth-of-type(2){
        display: flex;
        flex-direction: row;
       justify-content: center;
    }
    .div-conf {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 2rem;
        @include xs{
            width: 45%;
        }

    }
    .div-conf:nth-of-type(1){
        top: 75px;
        left: 15px;
        z-index: 1000;
        
    }
    .div-conf:nth-of-type(2){
        right: 15px;
        z-index: 5000;
        
        .text-conf{
            margin-left: 30px;
        }
    }
    .text-conf{
        padding: 1rem 0.5rem;
        :nth-child(1){
            font-weight:bold;
        }
        :nth-last-child(1){
            float: right;
            text-decoration: underline;
        }
    }
    
}
section.index:nth-of-type(3){
    background-color: #232323;
    .card-sect-ul{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .card-hackaton-1{
        position: relative;
        left: 30px;
        height: auto;
        width: 40%;
        z-index: 5000;
        
    }
    .card-hackaton-2{
        position: relative;
        right: 30px;
        height: auto;
        width: 40%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        ul:nth-child(1){
            padding: 2rem 0 2rem 0;
            line-height: 3rem;
        }
        ul:nth-child(2){
            padding: 2rem 2rem 2rem 0;
        }
        ul{
            margin-left: auto;
            width: 66%;
        }
        
        a {
            float: right;
            text-decoration: underline;
        }
    }
}
section.index:nth-of-type(4){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    
    p{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .newsletter{
        display: flex;
        flex-direction: row;
        width: 35%;
        margin-left: auto;
        margin-right: auto;

        input, button {
            padding: 1rem 1rem;
            border: 1px solid #ebebeb;
        }
        input {
            width: 90%;
            color: #1a1a1a;
        }
        button {
            cursor: pointer;
            background-color: transparent;
            :nth-child(1){
                opacity: 50%;
            }
        }
    }
    
}