@import  "../mixins/mixins";
body{
    top: 0;
}
a {
    color: initial;
    text-decoration: none;
}
section {
    min-height: 10px;
    padding: 4% 5%;    
}
.title-sect {
    font-size: 2rem;
    text-decoration: underline;
    padding-bottom: 2rem;
    @include xxs {
        text-align: center;
    }
}

section.index:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/bc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: white;
    min-height: 700px;
    @include xs {
        background-position-x: +27%;
    }
  ul {
      padding: 2rem 0;
      max-width: 90%;
  }
  .desc-progr{
      background-color: black;
      max-width: 40%;
      @include s {
        max-width: 90%;
    }
  }
  
  .btn-inscription{
      width: 5rem;
  }
}

section.index:nth-of-type(2){
    height: auto;
    ul {
        padding: 1rem 0;
    }
    ul:nth-of-type(2){
        display: flex;
        flex-direction: row;
       justify-content: center;
    }
    .div-conf {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 2rem;
        @include xs{
            width: 45%;
        }

    }
    
    .div-conf:nth-of-type(1){
        top: 75px;
        left: 15px;
        z-index: 1000;
        
    }
    .div-conf:nth-of-type(2){
        right: 15px;
        z-index: 5000 ;
        
        .text-conf{
            margin-left: 30px;
        }
    }
    .text-conf{
        padding: 1rem 0.5rem;
        :nth-child(1){
            font-weight:bold;
        }
        :nth-last-child(1){
            float: right;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
    
}
section.index:nth-of-type(3){
    background-color: #232323;
    .card-sect-ul{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .card-hackaton-1{
        position: relative;
        left: 5%;
        height: auto;
        width: 40%;
        z-index: 5000;
        @include s {
            left: 5%;
            width: 45%;
        }
        
    }
    .card-hackaton-2{
        position: relative;
        right: 5%;
        height: auto;
        width: 40%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include s {
            width: 60%;
        }
        
        ul:nth-child(1){
            padding: 2rem 0 2rem 0;
            line-height: 3rem;
            
            @include xxs {
                padding: 0.5rem 0 0.5rem 0;
                line-height: 1.5rem;
            }
        }
        ul:nth-child(2){
            padding: 2rem 2rem 2rem 0;
            @include xxs {
                padding: 0.5rem 0.5rem 0.5rem 0;
            }
        }
        ul{
            margin-left: auto;
            width: 66%;
            li{
                font-size: 1.5rem;
                @include xxs{
                    font-size: 1rem;
                }
            }
        }
        
        .more-info {
            float: right;
            text-decoration: underline;
            font-size: 1.5rem;
            @include xxs{
                font-size: 1rem;
            }
        }
    }
}
section.index:nth-of-type(4){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    
    p{
        width: 40%;
        text-align: center;
        padding-bottom: 2rem;
        @include xs {
            width: 90%;
        }
    }
    .newsletter{
            display: flex;
            flex-direction: row;
            width: 90%;
            justify-content: center;
            a{
                border:  1px solid rgb(151, 151, 151);
                padding: 1rem 2rem;
                border-radius: 2rem;
                transition: 0.5s;
            }
            a:hover{
                transition: 0.5s;
                background-color: #993E90;
                color: white;
            }
    }
    
}