footer{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    :nth-child(2){
        margin: 0 1rem;
    }
    a{
        :nth-child(1){
            width: 25px;
        }
    }
}
