@import  "../mixins/mixins";
header{
    width: auto;
    background-color: rgb(85, 84, 84);
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    padding: 0 5%;
    @include s {
        background-color: yellow;
    }
}
nav {
    display: none;
    width: 15%;
    @include s {
        display: flex;
    }
}
.open{
    z-index: 1000;
    width: 2rem;

    .burger-open {
        ul{
        
            height: 0.25rem;
            width: 100%;
            background-color: black;
        }
        a{
            :nth-child(1), :nth-child(2){
                margin-bottom: 0.25em;
            }
        }
    }
}
.link-page{
    display: inline-flex;
}
.close{
    width: 75%;
    min-height: 75vh;
    padding-bottom: 5vh;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    border-radius: 0 0 4em 0 ;
    border:  1px solid black;
    background-color: white;
    .burger-close {
        display: inline-flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid black;
        img{
            width: 2rem;
            height: auto;
        }
        a{
            padding: 0.75rem;
        }
        p {
            width: auto;
        }
       
    }
    :last-child{
        ul{
            border-bottom: none;
        }
    }
    ul{
        border-bottom: 1px solid black;
        padding: 1rem 0;
        .sub-title{
            display: none;
            padding: 1rem 0;
            
            p{
                
            
                margin-left: 6.25rem;
            
            }
        }
        p{
            margin-left: 6.25rem;
        }
    }
}

.logo-header{
    
    width: 8rem;
    height: 3rem;
    display: flex;
    @include xs {
        justify-content: center;
        height: 1.5rem;
    }
    
}

.btn-inscription{
    display: flex;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    a{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 11px;
    }
}

.link-desc {
    display: flex;
    padding: 1rem 2rem;
    @include xs {
        display: none;
    }
}

