@import  "../mixins/mixins";
section.contact:nth-of-type(1) {
    display: inline-flex;
    background: linear-gradient(90deg, black 50%, #BD8EF2 50%);
    width: 90%;
    @include s{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: black;
        padding-top: 8rem;
    }
    
    h2{
        font-size: 2rem;
        color: white;
        margin-bottom: 1.5rem;
    }
    .left-contact {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include s{
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            .champ {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                border: 1px solid #707070;
                resize: none;
                color: #928888;
                padding: 0.75rem 0.5rem;
            }
        }
        .message{
            margin-top: 0;
            height: 5em;
        }
        .submit {
            width: 40%;
            border-radius: 1rem;
            @include xs {
                width: 60%;
            }
        }
    }
    .right-contact{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-left: 5%;
        height: auto;
        @include s{
            margin-left: 0;
            width: 100%;
            justify-content: center;
        }
        @include xs {
            flex-direction: row;
        }
        .info-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            width: 50%;
            height: auto;
            @include xs{
                width: 35%;
            }
           .contact-sm{
              a{
                 :nth-child(1){
                    width: 55px;
                    @include xxs{
                        width: 30px;
                        height: auto;
                    }
                 }
              }
           }
            ul{
                display: flex;
                flex-direction: column;
                padding:1.2rem 0;
                @include xs {
                    padding: 0.5rem 0;
                }
                span{    
                    font-size: 1.5em;
                    padding: 0.5rem 1.5rem;
                    
                    @include xxs{
                        font-size: 1rem;
                        padding: 0.5rem;
                    }
                    a:nth-of-type(2){
                        margin: 0 5%;
                        @include xxs{
                            margin: 0;
                        }
                    }
                }
                li{  
                    font-size: 1.5rem;
                    padding: 0.5rem 2.5rem;
                    @include xxs{
                        font-size: 0.75rem;
                        padding: 0 0.5rem;
                    }
                }
            }
        }
        .map-contact{
            width: 50%;
            @include xs{
                width: 60%;
                height: auto;
            }
        }
        .map-contact img{
            width: 100%;
            height: 100%;
            @include xs{
                height: 100%;
                width: 100%;
            }
            
        }
        
    }
   
}
section.contact:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    
    p{
        width: 40%;
        text-align: center;
        padding-bottom: 2rem;
        @include xs {
            width: 90%;
        }
    }
    .newsletter{
            display: flex;
            flex-direction: row;
            width: 90%;
            justify-content: center;
            a{
                border:  1px solid rgb(151, 151, 151);
                padding: 1rem 2rem;
                border-radius: 2rem;
            }
            a:hover{
                
                background-color: #993E90;
            }
    }
}