@import  "../mixins/mixins";
section.contact:nth-of-type(1) {
    display: inline-flex;
    background: linear-gradient(90deg, black 50%, #BD8EF2 50%);
    width: 90%;
    @include s{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: black;
    }
    
    h2{
        font-size: 2rem;
        color: white;
        margin-bottom: 1.5rem;
    }
    .left-contact {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include s{
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        .message{
            margin-top: 0;
            height: 5em;
        }
        .submit {
            width: 40%;
            @include xs {
                width: 60%;
            }
        }
    }
    .right-contact{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-left: 5%;
        height: auto;
        @include s{
            margin-left: 0;
            width: 100%;
            justify-content: center;
        }
        @include xs {
            flex-direction: row;
        }
        .info-contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            width: 50%;
            height: auto;
            @include xs{
                width: 35%;
            }
           .contact-sm{
              a{
                 :nth-child(1){
                    width: 55px;
                    @include xxs{
                        width: 30px;
                        height: auto;
                    }
                 }
              }
           }
            ul{
                display: flex;
                flex-direction: column;
                padding:1.2rem 0;
                @include xs {
                    padding: 0.5rem 0;
                }
                span{    
                    font-size: 1.5em;
                    padding: 0.5rem 1.5rem;
                    @include xxs{
                        font-size: 1rem;
                        padding: 0.5rem;
                    }
                }
                li{  
                    font-size: 1.5rem;
                    padding: 0.5rem 2.5rem;
                    @include xxs{
                        font-size: 0.75rem;
                        padding: 0 0.5rem;
                    }
                }
            }
        }
        .map-contact{
            width: 50%;
            @include xs{
                width: 60%;
                height: auto;
            }
        }
        .map-contact img{
            width: 100%;
            height: 100%;
            @include xs{
                height: 100%;
                width: 100%;
            }
            
        }
        
    }
   
}
section.contact:nth-of-type(2){
    .newsletter{
        display: flex;
        flex-direction: row;
        width: 35%;
        margin-top: 2rem;
        @include xs {
            width: 90%;
        }

        input, button {
            padding: 1rem 1rem;
            border: 1px solid #ebebeb;
        }
        input {
            width: 90%;
            color: #1a1a1a;
        }
        button {
            cursor: pointer;
            background-color: transparent;
            :nth-child(1){
                opacity: 50%;
            }
        }
        button:hover{
            background-color: #993E90;
        }
    }
}

.contact{
    .champ{
        width: 100%;
        border: 0;
        padding-left: 10px;
        height: 54px;
        font-size: 20px;
        font-weight: 500;
        background: white;
        border-radius: 5px;
        border: solid rgb(255, 255, 255) 1px;
        margin: 2% 0;
        box-shadow: 0px 0px 8px -3px #ffffff;
    }
    
    .btn-envoyer{
        width: 60%;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        background: white;
        border: solid rgb(255, 255, 255) 1px;
        border-radius: 5px;
        margin-top: 20px;
        padding: 0;
    }
    textarea{
        height: 100px;
        resize: none;
        width: 100%;
        border: 0;
        padding: 10px 0 0 10px;
        font-size: 16px;
        font-weight: 500;
        background: white;
        border-radius: 5px;
        border: solid rgb(255, 255, 255) 1px;
        margin: 2% 0;
        box-shadow: 0px 0px 8px -3px #ffffff;
    }
}
